<!DOCTYPE html>
<html>
  <head>
    <title>RailsZoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <h1>Zoo Animal Inventory:</h1> 
  </header>
  <aside>
    <%= yield %>
  </aside>
  <section class="Button_Nav">
    <a href="/"><button class="button" id="all_tasksall_animals">All Animals</button></a>
    <br />
    <br />
    <a href="/animals/new"><button class="button" id="add_animal">Add Animal</button></a>
  </section>
    <img src="https://hemkerzoo.com/wp-content/uploads/2019/02/jungle-silhouette-Hemker-Park-and-Zoo.png" id="base_image">
  <footer>Created by KKennedyCodes 2019</footer>
  </body>
</html>
