<!DOCTYPE html>
<html>
  <head>
    <title>RailsZoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <h1>Zoo Animal Inventory:</h1> 
  </header>
  <aside>
    <%= yield %>
    </aside>
    <a href="/"><button class="button" id="all_tasksall_animals">All Animals</button></a>
    <br />
    <br />
    <a href="/animals/new"><button class="button" id="add_animal">Add Animal</button></a>
  <footer>Created by KKennedyCodes 2019</footer>
  </body>
</html>
